html
  head
    title!= title

    script(type="text/javascript", src="http://tracking.services.mobilon.ru/script/abdulai")
  body
    h1!= message
    h3.phone MOBILON-PHONE

    h5.phone MOBILON-PHONE

    h6#phone MOBILON-PHONE

    ul
      li
        a(href="?utm_source=yandex") Яндекс
      li
        a(href="?utm_source=google") Google
      li
        a(href="?utm_source=bing&utm_medium=cpc&utm_campaign=b2b_bandl_vats_1900_rsya&utm_term=виртуальная%20АТС&utm_content=5015906693_yastatic.net&yclid=6733570485251218270") Bing
